* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/oriental.png);
    background-color: lemonchiffon;
}


#top {
    width: 100%;
    background-color: white;
    position: absolute;
    margin-bottom: 20px;
    padding: 50px;
    top: 0;
    border-bottom: 2px solid #cccccc;
}
#header {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    padding: 50px;
    position: relative;
    top: 0;
    width: 960px;
    border-bottom: 2px solid #cccccc;
}
#name {
    float: left;
    background-color: #4aaaa5;
    padding: 20px 40px 20px 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#nav {
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


a {
    text-decoration: none;
    font-size: 20px;
}
a:link {
    color: #777777;
}
a:visited {
    color:#cdaeae;
}
a:hover {
    background-color:#79eae5;
}


#mainabout{
    margin: auto;
    margin-bottom: 100px;
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
    content: "";
    clear: both;
    display: table;
}

#mainportfolio{
    margin: auto;
    margin-bottom: 100px;
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
    content: "";
    clear: both;
    display: table;
}

#maincontact{
    margin: auto;
    margin-bottom: 100px;
    width: 960px;
    background-color: #ffffff;
    padding: 20px;
    content: "";
    clear: both;
    display: table;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #4aaaa5;
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

img.index {
    margin: 20px;
    float: left;
    width: 200px;
    height: auto;
}

#portcol1 {
    float: left;
    width: 360px;
    padding-top: 40px;
    position: relative;
}

#portcol2 {
    float: left;
    width: 40%;
    padding-top: 40px;
    position: relative;
}

.portimg {
    margin-bottom: 30px;
    position: relative;
}

.portimgtxt {
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    width: 320px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
}

.imgcontainer {
    position: relative;
}

p {
    line-height: 150%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 20px;
    color: #777777;
}


#footer {
    background-color: #666666;
    color:lightgray;
    border-top: 10px #4aaaa5 solid;
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 5px;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
}

form {
    padding-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input[type=text] {
    margin: 10px 0;
    width: 100%;
}

#message {
    height: 200px;
}

input[type=submit] {
    margin: 10px 0;
    padding: 10px 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
}